* {
    margin: 0;
    padding: 0;
}


.main-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}

.box {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-1 {
    background-color: red;
}

.box-2 {
    background-color: blue;
}

.box-3 {
    background-color: green;
}

.box-4 {
    background-color: yellow;
}

.box-5 {
    background-color: purple;
}

.box-6 {
    background-color: orange;
}

.box-7 {
    background-color: brown;
}

.box-8 {
    background-color: gray;
}

.box-9 {
    background-color: brown;
}

.box-10 {
    background-color: aquamarine;
}


.main {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}

.nav-container {
    width: 100%;
    display: flex;
    gap: 2rem;
    background-color: #f0f0f0;
    padding: 1rem;
    justify-content: center;
}


.home {
    flex-grow: 1;
    flex-shrink: 1;
}

.about {
    flex-grow: 2;
    flex-shrink: 1;
}

.contact {
    flex-grow: 1;
    flex-shrink: 1;
}

.nav-container a {
    text-decoration: none;
    color: #000;
}

.nav-container a:hover {
    opacity: 0.5;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
        "header header header"
        "sidebar main main"
        "footer footer footer";
    gap: 1em;
    width: 100%;
}

.box-1 {
    grid-area: header;
}

.box-5 {
    grid-area: main;
}

.box-4 {
    grid-area: sidebar;
}